body{
    margin:0;
    background: url('https://38.media.tumblr.com/61b0b7dc6b64a2ddc76b1ad3f4e0b4b3/tumblr_nlo1tjd1qy1upbybro1_1280.gif') repeat center;
    background-size:cover;
    height: 75vh;
    width: 100%;
}
em{
    font-family:"Berthold Akzidenz Condensed";
    font-weight:900;
    font-style: italic;
}



#header{
    display: flex;
    width:100%;
    height:10%;
    margin: 0;
    background-color: black;
}
h1{
    margin: 1% 1% 0 0;
    font-family:"Berthold Akzidenz Condensed";
    font-size: 5vh;
    font-weight:900;
    font-style: italic;
    color: yellow;
}




#resultHeader{
    width:100%;
    height:10%;
    margin: 0;
    background-color: black;
    display:none;
}


#homeBody{
    width:100%;
    height: 80%;
    margin:0;
    padding-top:15%;
}
h2{
    width: 30vw;
    margin: 0 auto 0 auto;
    display:flex;
    font-family:"Berthold Akzidenz Condensed";
    font-size: 7vw;
    font-weight:900;
    text-align: center;
}
#build{
    color:white;
}
#stats{
    color:yellow;
}

#homeinputstuff{
    display:flex;
    width:30%;
    height:30px;
    background-color: white;
    border:2px solid white;
    border-radius: 1vw;
    margin: auto;
}
#homeInputBackground{
    height:100%;
    aspect-ratio: 1;
    background-image: url('https://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#homeInput{
    width:90%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    border:2px solid white;
    box-sizing: border-box;
    font-size: 100%;
}
#homeInput:focus{
    outline:none;
}


#resultBody{
    width:100%;
}